body {
  background-color: hsla(210, 55%, 60%, 0.6);
  font-family: helvetica, monospace;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: hsl(250, 80%, 97%);
  text-shadow: 2px 2px 4px #000000;
}
p {
  text-align: center;
}
.questionnaire {
  text-align: center;
  background-color: hsl(272, 56%, 95%);
  margin-top: 1em;
  margin-bottom: 1em;
}
legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}
.question {
  color: hsl(220, 40%, 30%);
  text-shadow: 0.5px 0.5px 1px;
}
#submit {
 display: block;
 margin: 0 auto;
 align: center;
 background-color: hsl(308, 89%, 96%);
 font-size: 16px;
 width: 120px;
 height: 30px;
 padding: 10; 
}